REST Module Treats Header Names Case-Sensitively

When encoding parameters, the REST module compares HTTP headers in a case-sensitive manner, which can prevent parameters from being encoded/sent with the request in some circumstances (e.g., when sending params as json).

https://github.com/Codeception/Codeception/blob/2.2/src/Codeception/Module/REST.php#L518-L520

RFC 2616 specifies that HTTP header names are case-insensitive.

> 4.2 Message Headers
> HTTP header fields, which include general-header (section 4.5),
   request-header (section 5.3), response-header (section 6.2), and
   entity-header (section 7.1) fields, follow the same generic format as
   that given in Section 3.1 of RFC 822 [9]. Each header field consists
   of a name followed by a colon (":") and the field value. **Field names
   are case-insensitive.** _[emphasis added]_
— https://www.ietf.org/rfc/rfc2616.txt

### Steps to reproduce:

Test Subject:
```php
<?php

$request_body = file_get_contents('php://input');

echo 'request body length: ', strlen($request_body), "\n",
  "request body contents: \n", $request_body, "\n--end--\n";
```

Test:
```php
<?php
$I = new AcceptanceTester($scenario);

$params = ['foo' => 'foo', 'bar' => 'bar'];


$I->haveHttpHeader('Content-type', 'application/json');
$I->sendPost('/test_subject.php', $params);
echo  "case-insensitive:\n", $I->grabResponse();


$I->haveHttpHeader('Content-Type', 'application/json');
$I->sendPost('/test_subject.php', $params);
echo "\ncase-sensitive:\n", $I->grabResponse();
```

### Expected Results:
Because http headers are case-insensitive, both headers should be seen as the same header, and therefore, both requests should be identical and should result in identical responses.

### Actual Results:
The first request (which sets the header as "Content-type"; note capitalization) fails to encode and send the parameters with the request.
```
Codeception PHP Testing Framework v2.2.3
Powered by PHPUnit 5.4.8 by Sebastian Bergmann and contributors.

Acceptance Tests (1) ----------------------------------------------------------------
- codeCept: 
request body length: 0
request body contents: 

--end--

request body length: 25
request body contents: 
{"foo":"foo","bar":"bar"}
--end--
✔ codeCept:  (0.07s)
------------------------------------------------------------------------------


Time: 290 ms, Memory: 30.00MB

OK (1 test, 0 assertions)
```

### Details

* Codeception version: 2.2.3
* PHP Version: 7.0.8
* Operating System: Debian
* Installation type: Composer
* Suite configuration:
```yml
class_name: AcceptanceTester
modules:
    enabled:
        - REST:
            url: https://localhost/demo
            depends: PhpBrowser
```
