Innerbrowser exception trying to run test

#### What are you trying to achieve?

Trying to execute a simple functional test that does nothing.
Acceptance Tests and Unit Tests work properly.

#### What do you get instead?

> Provide console output if related. Use `-vvv` mode for more details.

```bash 
php vendor/bin/codecept run functional --steps
Codeception PHP Testing Framework v4.1.29
Powered by PHPUnit 9.5.14 by Sebastian Bergmann and contributors.

Functional Tests (1) ---------------------------------------------------------------------------------------------------------------------------------------
LoginCest: Try login
Signature: LoginCest:tryLogin
Test: tests/functional/LoginCest.php:tryLogin
Scenario --
------------------------------------------------------------------------------------------------------------------------------------------------------------
PHP Fatal error:  Uncaught Error: Typed property Codeception\Module\Laravel::$client must not be accessed before initialization in /var/www/vs-workspace/pa/vendor/codeception/lib-innerbrowser/src/Codeception/Lib/InnerBrowser.php:77
Stack trace:
#0 /var/www/vs-workspace/pa/vendor/codeception/codeception/src/Codeception/Subscriber/Module.php(77): Codeception\Lib\InnerBrowser->_failed()
#1 /var/www/vs-workspace/pa/vendor/symfony/event-dispatcher/EventDispatcher.php(230): Codeception\Subscriber\Module->failed()
#2 /var/www/vs-workspace/pa/vendor/symfony/event-dispatcher/EventDispatcher.php(59): Symfony\Component\EventDispatcher\EventDispatcher->callListeners()
#3 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/DispatcherWrapper.php(22): Symfony\Component\EventDispatcher\EventDispatcher->dispatch()
#4 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/Listener.php(134): Codeception\PHPUnit\Listener->dispatch()
#5 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/Listener.php(51): Codecepti in /var/www/vs-workspace/pa/vendor/codeception/lib-innerbrowser/src/Codeception/Lib/InnerBrowser.php on line 77



FATAL ERROR. TESTS NOT FINISHED.
Uncaught Error: Typed property Codeception\Module\Laravel::$client must not be accessed before initialization in /var/www/vs-workspace/pa/vendor/codeception/lib-innerbrowser/src/Codeception/Lib/InnerBrowser.php:77
Stack trace:
#0 /var/www/vs-workspace/pa/vendor/codeception/codeception/src/Codeception/Subscriber/Module.php(77): Codeception\Lib\InnerBrowser->_failed()
#1 /var/www/vs-workspace/pa/vendor/symfony/event-dispatcher/EventDispatcher.php(230): Codeception\Subscriber\Module->failed()
#2 /var/www/vs-workspace/pa/vendor/symfony/event-dispatcher/EventDispatcher.php(59): Symfony\Component\EventDispatcher\EventDispatcher->callListeners()
#3 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/DispatcherWrapper.php(22): Symfony\Component\EventDispatcher\EventDispatcher->dispatch()
#4 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/Listener.php(134): Codeception\PHPUnit\Listener->dispatch()
#5 /var/www/vs-workspace/pa/vendor/codeception/phpunit-wrapper/src/Listener.php(51): Codecepti 
in /var/www/vs-workspace/pa/vendor/codeception/lib-innerbrowser/src/Codeception/Lib/InnerBrowser.php:77

```
> Provide test source code if related

```php

<?php

class LoginCest
{
    public function tryLogin(FunctionalTester $I)
    { 
    }
}

```
### Details

* Codeception version: 4.1.29
* PHP Version: 7.4.28
* Operating System: WSL Ubuntu 20.04
* Installation type: Composer
* List of installed packages (`composer show`)
amphp/amp                             v2.6.2             A non-blocking concurrency framework for PHP applications.
amphp/byte-stream                     v1.8.1             A stream abstraction to make working with non-blocking I/O simple.
barryvdh/laravel-debugbar             v3.6.7             PHP Debugbar integration for Laravel
barryvdh/laravel-ide-helper           v2.9.1             Laravel IDE Helper, generates correct PHPDocs for all Facade classes, to improve auto-completion.
barryvdh/reflection-docblock          v2.0.6            
behat/gherkin                         v4.9.0             Gherkin DSL parser for PHP
beyondcode/laravel-websockets         1.13.0             An easy to use WebSocket server
brick/math                            0.9.3              Arbitrary-precision arithmetic library
cboden/ratchet                        v0.4.4             PHP WebSocket library
cocur/slugify                         v4.1.0             Converts a string into a slug.
codeception/codeception               4.1.29             BDD-style testing framework
codeception/lib-asserts               2.0.0              Assertion methods used by Codeception core and Asserts module
codeception/lib-innerbrowser          2.0.2              Parent library for all Codeception framework modules and PhpBrowser
codeception/module-asserts            2.0.1              Codeception module containing various assertions
codeception/module-laravel            2.2.0              Codeception module for Laravel framework
codeception/module-phpbrowser         2.0.2              Codeception module for testing web application over HTTP
codeception/module-rest               2.0.1              REST module for Codeception
codeception/module-webdriver          2.0.2              WebDriver module for Codeception
codeception/phpunit-wrapper           9.0.7              PHPUnit classes used by Codeception
codeception/stub                      4.0.2              Flexible Stub wrapper for PHPUnit's Mock Builder
composer/ca-bundle                    1.3.1              Lets you find a path to the system CA bundle, and includes a fallback to the Mozilla CA bundle.
composer/composer                     dev-main c9baeda   Composer helps you declare, manage and install dependencies of PHP projects. It ensures you ha...
composer/metadata-minifier            1.0.0              Small utility library that handles metadata minification and expansion.
composer/package-versions-deprecated  1.11.99.5          Composer plugin that provides efficient querying for installed package versions (no runtime IO)
composer/pcre                         1.0.1              PCRE wrapping library that offers type-safe preg_* replacements.
composer/semver                       3.2.9              Semver library that offers utilities, version constraint parsing and validation.
composer/spdx-licenses                1.5.6              SPDX licenses list and validation library.
composer/xdebug-handler               3.0.1              Restarts a process without Xdebug.
cviebrock/eloquent-sluggable          8.0.8              Easy creation of slugs for your Eloquent models in Laravel
damianopetrungaro/php-commitizen      v0.2.0             Help writing Git commit following conventional commit specs
dflydev/dot-access-data               v3.0.1             Given a deep data structure, access data by dot notation.
dnoegel/php-xdg-base-dir              v0.1.1             implementation of xdg base directory specification for php
doctrine/annotations                  1.13.2             Docblock Annotations Parser
doctrine/cache                        2.1.1              PHP Doctrine Cache library is a popular cache implementation that supports many different driv...
doctrine/dbal                         3.3.2              Powerful PHP database abstraction layer (DBAL) with many features for database schema introspe...
doctrine/deprecations                 v0.5.3             A small layer on top of trigger_error(E_USER_DEPRECATED) or PSR-3 logging with options to disa...
doctrine/event-manager                1.1.1              The Doctrine Event Manager is a simple PHP event system that was built to be used with the var...
doctrine/inflector                    2.0.4              PHP Doctrine Inflector is a small library that can perform string manipulations with regard to...
doctrine/instantiator                 1.4.0              A small, lightweight utility to instantiate objects in PHP without invoking their constructors
doctrine/lexer                        1.2.2              PHP Doctrine Lexer parser library that can be used in Top-Down, Recursive Descent Parsers.
dragonmantank/cron-expression         v3.3.1             CRON for PHP: Calculate the next or previous run date and determine if a CRON expression is due
egulias/email-validator               2.1.25             A library for validating emails against several RFCs
evenement/evenement                   v3.0.1             Événement is a very simple event dispatching library for PHP
facade/flare-client-php               1.9.1              Send PHP errors to Flare
facade/ignition                       2.17.4             A beautiful error page for Laravel applications.
facade/ignition-contracts             1.0.2              Solution contracts for Ignition
fakerphp/faker                        v1.19.0            Faker is a PHP library that generates fake data for you.
felixfbecker/advanced-json-rpc        v3.2.1             A more advanced JSONRPC implementation
felixfbecker/language-server-protocol 1.5.1              PHP classes for the Language Server Protocol
fideloper/proxy                       4.4.1              Set trusted proxies for Laravel
fig/http-message-util                 1.1.5              Utility classes and constants for use with PSR-7 (psr/http-message)
filp/whoops                           2.14.5             php error handling for cool kids
firebase/php-jwt                      v5.5.1             A simple library to encode and decode JSON Web Tokens (JWT) in PHP. Should conform to the curr...
fossbarrow/laravel-phpcs              dev-main afe30dc   phpcs ruleset for laravel projects
friendsofphp/php-cs-fixer             v3.6.0             A tool to automatically fix PHP code style
fruitcake/laravel-cors                v2.1.0             Adds CORS (Cross-Origin Resource Sharing) headers support in your Laravel application
fruitcake/php-cors                    v1.2.0             Cross-origin resource sharing library for the Symfony HttpFoundation
google/apiclient                      v2.12.1            Client library for Google APIs
google/apiclient-services             v0.236.0           Client library for Google APIs
google/auth                           v1.18.0            Google Auth Library for PHP
google/cloud-core                     v1.44.0            Google Cloud PHP shared dependency, providing functionality useful to all components.
google/cloud-logging                  v1.23.0            Stackdriver Logging Client for PHP
google/common-protos                  2.0.0              Google API Common Protos for PHP
google/gax                            v1.11.4            Google API Core for PHP
google/grpc-gcp                       v0.2.0             gRPC GCP library for channel management
google/protobuf                       v3.19.4            proto library for PHP
graham-campbell/result-type           v1.0.4             An Implementation Of The Result Type
grpc/grpc                             1.42.0             gRPC library for PHP
guzzlehttp/guzzle                     7.4.1              Guzzle is a PHP HTTP client library
guzzlehttp/promises                   1.5.1              Guzzle promises library
guzzlehttp/psr7                       1.8.3              PSR-7 message implementation that also provides common utility methods
hamcrest/hamcrest-php                 v2.0.1             This is the PHP port of Hamcrest Matchers
justinrainbow/json-schema             5.2.11             A library to validate a json schema.
laravel/framework                     v8.83.1            The Laravel Framework.
laravel/serializable-closure          v1.1.1             Laravel Serializable Closure provides an easy and secure way to serialize closures in PHP.
laravel/tinker                        v2.7.0             Powerful REPL for the Laravel framework.
league/commonmark                     2.2.2              Highly-extensible PHP Markdown parser which fully supports the CommonMark spec and GitHub-Flav...
league/config                         v1.1.1             Define configuration arrays with strict schemas and access values with dot notation
league/flysystem                      1.1.9              Filesystem abstraction: Many filesystems, one API.
league/mime-type-detection            1.9.0              Mime-type detection for Flysystem
livewire/livewire                     v2.10.4            A front-end framework for Laravel.
maximebf/debugbar                     v1.18.0            Debug bar in the browser for php application
mockery/mockery                       1.5.0              Mockery is a simple yet flexible PHP mock object framework
monolog/monolog                       2.3.5              Sends your logs to files, sockets, inboxes, databases and various web services
myclabs/deep-copy                     1.10.2             Create deep copies (clones) of your objects
nesbot/carbon                         2.57.0             An API extension for DateTime that supports 281 different languages.
netresearch/jsonmapper                v4.0.0             Map nested JSON structures onto PHP classes
nette/schema                          v1.2.2             📐 Nette Schema: validating data structures against a given Schema.
nette/utils                           v3.2.7             🛠  Nette Utils: lightweight utilities for string & array manipulation, image handling, safe...
nikic/php-parser                      v4.13.2            A PHP parser written in PHP
nunomaduro/collision                  v5.11.0            Cli error handling for console/command-line PHP applications.
openlss/lib-array2xml                 1.0.0              Array2XML conversion library credit to lalit.org
opis/closure                          3.6.3              A library that can be used to serialize closures (anonymous functions) and arbitrary objects.
orangehill/iseed                      v3.0.2             Generate a new Laravel database seed file based on data from the existing database table.
orchestra/testbench                   v6.24.1            Laravel Testing Helper for Packages Development
orchestra/testbench-core              v6.28.1            Testing Helper for Laravel Development
paragonie/constant_time_encoding      v2.5.0             Constant-time Implementations of RFC 4648 Encoding (Base-64, Base-32, Base-16)
paragonie/random_compat               v9.99.100          PHP 5.x polyfill for random_bytes() and random_int() from PHP 7
paragonie/sodium_compat               v1.17.0            Pure PHP implementation of libsodium; uses the PHP extension if it exists
pdepend/pdepend                       2.10.2             Official version of pdepend to be handled with Composer
phar-io/manifest                      2.0.3              Component for reading phar.io manifest information from a PHP Archive (PHAR)
phar-io/version                       3.2.1              Library for handling version information and constraints
php-cs-fixer/diff                     v2.0.2             sebastian/diff v3 backport support for PHP 5.6+
php-webdriver/webdriver               1.12.0             A PHP client for Selenium WebDriver. Previously facebook/webdriver.
phpdocumentor/reflection-common       2.2.0              Common reflection classes used by phpdocumentor to reflect the code structure
phpdocumentor/reflection-docblock     5.3.0              With this component, a library can provide support for annotations via DocBlocks or otherwise ...
phpdocumentor/type-resolver           1.6.0              A PSR-5 based resolver of Class names, Types and Structural Element Names
phpmd/phpmd                           2.7.0              PHPMD is a spin-off project of PHP Depend and aims to be a PHP equivalent of the well known Ja...
phpoption/phpoption                   1.8.1              Option Type for PHP
phpseclib/phpseclib                   3.0.13             PHP Secure Communications Library - Pure-PHP implementations of RSA, AES, SSH2, SFTP, X.509 etc.
phpspec/prophecy                      v1.15.0            Highly opinionated mocking framework for PHP 5.3+
phpstan/phpstan                       1.4.6              PHPStan - PHP Static Analysis Tool
phpunit/php-code-coverage             9.2.11             Library that provides collection, processing, and rendering functionality for PHP code coverag...
phpunit/php-file-iterator             3.0.6              FilterIterator implementation that filters files based on a list of suffixes.
phpunit/php-invoker                   3.1.1              Invoke callables with a timeout
phpunit/php-text-template             2.0.4              Simple template engine.
phpunit/php-timer                     5.0.3              Utility class for timing
phpunit/phpunit                       9.5.14             The PHP Unit Testing framework.
pimple/pimple                         v3.5.0             Pimple, a simple Dependency Injection Container
predis/predis                         v1.1.10            Flexible and feature-complete Redis client for PHP and HHVM
psalm/plugin-laravel                  v1.5.2             A Laravel plugin for Psalm
psr/cache                             1.0.1              Common interface for caching libraries
psr/container                         1.1.2              Common Container Interface (PHP FIG PSR-11)
psr/event-dispatcher                  1.0.0              Standard interfaces for event handling.
psr/http-client                       1.0.1              Common interface for HTTP clients
psr/http-message                      1.0.1              Common interface for HTTP messages
psr/log                               1.1.4              Common interface for logging libraries
psr/simple-cache                      1.0.1              Common interfaces for simple caching
psy/psysh                             v0.11.1            An interactive shell for modern PHP.
pusher/pusher-php-server              5.0.3              Library for interacting with the Pusher REST API
ralouphie/getallheaders               3.0.3              A polyfill for getallheaders.
ramsey/collection                     1.2.2              A PHP library for representing and manipulating collections.
ramsey/uuid                           4.2.3              A PHP library for generating and working with universally unique identifiers (UUIDs).
ratchet/rfc6455                       v0.3.1             RFC6455 WebSocket protocol handler
react/cache                           v1.1.1             Async, Promise-based cache interface for ReactPHP
react/dns                             v1.9.0             Async DNS resolver for ReactPHP
react/event-loop                      v1.2.0             ReactPHP's core reactor event loop that libraries can use for evented I/O.
react/http                            v1.6.0             Event-driven, streaming HTTP client and server implementation for ReactPHP
react/promise                         v2.9.0             A lightweight implementation of CommonJS Promises/A for PHP
react/promise-stream                  v1.3.0             The missing link between Promise-land and Stream-land for ReactPHP
react/promise-timer                   v1.8.0             A trivial implementation of timeouts for Promises, built on top of ReactPHP.
react/socket                          v1.11.0            Async, streaming plaintext TCP/IP and secure TLS socket server and client connections for Reac...
react/stream                          v1.2.0             Event-driven readable and writable streams for non-blocking I/O in ReactPHP
reliese/laravel                       v1.1.3             Reliese Components for Laravel Framework code generation.
rezaamini-ir/migrator                 1.5.4              Migrator is a GUI migration manager for Laravel.
ringcentral/psr7                      1.3.0              PSR-7 message implementation
rize/uri-template                     0.3.4              PHP URI Template (RFC 6570) supports both expansion & extraction
roave/security-advisories             dev-latest 6ba1494 Prevents installation of composer packages with known security vulnerabilities: no API, simply...
sebastian/cli-parser                  1.0.1              Library for parsing CLI options
sebastian/code-unit                   1.0.8              Collection of value objects that represent the PHP code units
sebastian/code-unit-reverse-lookup    2.0.3              Looks up which function or method a line of code belongs to
sebastian/comparator                  4.0.6              Provides the functionality to compare PHP values for equality
sebastian/complexity                  2.0.2              Library for calculating the complexity of PHP code units
sebastian/diff                        4.0.4              Diff implementation
sebastian/environment                 5.1.3              Provides functionality to handle HHVM/PHP environments
sebastian/exporter                    4.0.4              Provides the functionality to export PHP variables for visualization
sebastian/global-state                5.0.5              Snapshotting of global state
sebastian/lines-of-code               1.0.3              Library for counting the lines of code in PHP source code
sebastian/object-enumerator           4.0.4              Traverses array structures and object graphs to enumerate all referenced objects
sebastian/object-reflector            2.0.4              Allows reflection of object attributes, including inherited and non-public ones
sebastian/recursion-context           4.0.4              Provides functionality to recursively process PHP variables
sebastian/resource-operations         3.0.3              Provides a list of PHP built-in functions that operate on resources
sebastian/type                        2.3.4              Collection of value objects that represent the types of the PHP type system
sebastian/version                     3.0.2              Library that helps with managing the version number of Git-hosted PHP projects
seld/jsonlint                         1.8.3              JSON Linter
seld/phar-utils                       1.2.0              PHAR file format utilities, for when PHP phars you up
softcreatr/jsonpath                   0.7.5              JSONPath implementation for parsing, searching and flattening arrays
spatie/backtrace                      1.2.1              A better backtrace
spatie/laravel-activitylog            3.17.0             A very simple activity logger to monitor the users of your website or application
spatie/laravel-ray                    1.29.3             Easily debug Laravel apps
spatie/macroable                      1.0.1              A trait to dynamically add methods to a class
spatie/ray                            1.33.2             Debug with Ray to fix problems faster
squizlabs/php_codesniffer             3.6.2              PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files and detects violations of a defined se...
swiftmailer/swiftmailer               v6.3.0             Swiftmailer, free feature-rich PHP mailer
symfony/browser-kit                   v5.4.3             Simulates the behavior of a web browser, allowing you to make requests, click on links and sub...
symfony/config                        v5.4.3             Helps you find, load, combine, autofill and validate configuration values of any kind
symfony/console                       v5.4.3             Eases the creation of beautiful and testable command line interfaces
symfony/css-selector                  v5.4.3             Converts CSS selectors to XPath expressions
symfony/debug                         v4.4.37            Provides tools to ease debugging PHP code
symfony/dependency-injection          v5.4.3             Allows you to standardize and centralize the way objects are constructed in your application
symfony/deprecation-contracts         v2.5.0             A generic function and convention to trigger deprecation notices
symfony/dom-crawler                   v5.4.5             Eases DOM navigation for HTML and XML documents
symfony/error-handler                 v5.4.3             Provides tools to manage errors and ease debugging PHP code
symfony/event-dispatcher              v5.4.3             Provides tools that allow your application components to communicate with each other by dispat...
symfony/event-dispatcher-contracts    v2.5.0             Generic abstractions related to dispatching event
symfony/filesystem                    v5.4.3             Provides basic utilities for the filesystem
symfony/finder                        v5.4.3             Finds files and directories via an intuitive fluent interface
symfony/http-foundation               v5.4.3             Defines an object-oriented layer for the HTTP specification
symfony/http-kernel                   v5.4.4             Provides a structured process for converting a Request into a Response
symfony/mime                          v5.4.3             Allows manipulating MIME messages
symfony/options-resolver              v5.4.3             Provides an improved replacement for the array_replace PHP function
symfony/polyfill-ctype                v1.24.0            Symfony polyfill for ctype functions
symfony/polyfill-iconv                v1.24.0            Symfony polyfill for the Iconv extension
symfony/polyfill-intl-grapheme        v1.24.0            Symfony polyfill for intl's grapheme_* functions
symfony/polyfill-intl-idn             v1.24.0            Symfony polyfill for intl's idn_to_ascii and idn_to_utf8 functions
symfony/polyfill-intl-normalizer      v1.24.0            Symfony polyfill for intl's Normalizer class and related functions
symfony/polyfill-mbstring             v1.24.0            Symfony polyfill for the Mbstring extension
symfony/polyfill-php72                v1.24.0            Symfony polyfill backporting some PHP 7.2+ features to lower PHP versions
symfony/polyfill-php73                v1.24.0            Symfony polyfill backporting some PHP 7.3+ features to lower PHP versions
symfony/polyfill-php80                v1.24.0            Symfony polyfill backporting some PHP 8.0+ features to lower PHP versions
symfony/polyfill-php81                v1.24.0            Symfony polyfill backporting some PHP 8.1+ features to lower PHP versions
symfony/process                       v5.4.3             Executes commands in sub-processes
symfony/psr-http-message-bridge       v2.1.2             PSR HTTP message bridge
symfony/routing                       v5.4.3             Maps an HTTP request to a set of configuration variables
symfony/service-contracts             v2.5.0             Generic abstractions related to writing services
symfony/stopwatch                     v5.4.3             Provides a way to profile code
symfony/string                        v5.4.3             Provides an object-oriented API to strings and deals with bytes, UTF-8 code points and graphem...
symfony/translation                   v5.4.3             Provides tools to internationalize your application
symfony/translation-contracts         v2.5.0             Generic abstractions related to translation
symfony/var-dumper                    v5.4.3             Provides mechanisms for walking through any arbitrary PHP variable
symfony/yaml                          v5.4.3             Loads and dumps YAML files
theseer/tokenizer                     1.2.1              A small library for converting tokenized PHP source code into XML and potentially other formats
tijsverkoyen/css-to-inline-styles     2.2.4              CssToInlineStyles is a class that enables you to convert HTML-pages/files into HTML-pages/file...
vimeo/psalm                           4.21.0             A static analysis tool for finding errors in PHP applications
vlucas/phpdotenv                      v5.4.1             Loads environment variables from `.env` to `getenv()`, `$_ENV` and `$_SERVER` automagically.
voku/portable-ascii                   1.6.1              Portable ASCII library - performance optimized (ascii) string functions for php.
webmozart/assert                      1.10.0             Assertions to validate method input/output with nice error messages.
webmozart/path-util                   2.3.0              A robust cross-platform utility for normalizing, comparing and modifying file paths.
zbateson/mail-mime-parser             2.2.0              MIME email message parser
zbateson/mb-wrapper                   1.1.1              Wrapper for mbstring with fallback to iconv for encoding conversion and string manipulation
zbateson/stream-decorators            1.0.6              PHP psr7 stream decorators for mime message part streams
* Suite configuration (Codeception.yml):

```yml
paths:
    tests: tests
    output: tests/_output
    data: tests/_data
    support: tests/_support
    envs: tests/_envs
actor_suffix: Tester
extensions:
    enabled:
        - Codeception\Extension\RunFailed
```
* Suite configuration (functional.suite.yml):
```yml
actor: FunctionalTester
modules:
    enabled:
        - Laravel:
            environment_file: .env.testing
        # add a framework module here
        - \Helper\Functional
    step_decorators: ~   
```